h1 {
  font-size: 1.4em;
  padding: 0;
}
ul.nav-bar {
  li {
    margin: 0;
    padding: 0px 20px;
  }
}

#footer {
  text-align: right;
}

table {
  width: 100%;
  tr {
    th {
      padding: 5px 10px;
      text-align: left;
    }
  }
}