<div class="six columns">
  <h1>Curso iOS</h1>
  <p>
    Desde esta aplicación podremos acceder a los servicios de prueba desarrollados para el curso de iOS. 
    Cada uno de los servicios está documentado en su sección accesible desde el menú superior.
  </p>
  <p>
    El código de esta aplicación está disponible en GitHub.
  </p>
</div>
